body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: #fff;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

.hero h1 {
    font-size: 50px;
    margin: 0;
}

.hero p {
    margin: 10px 0 20px;
    color: #aaa;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #38bdf8;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
}

.project img {
    width: 100%;
    border-radius: 8px;
}
